{% extends 'html.html.twig' %}

{% block body %}
	<div class="ui container">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<form method="post" action="{{ path('searchRecipe') }}">
				<div class="ui computer menu">
					<a class="item" href="{{ path('recipeIndex') }}"><i class="home icon"></i> Startseite</a>
					<a class="item" href="{{ path('addRecipe') }}"><i class="plus icon"></i> Rezept hinzufügen</a>
					<a class="item" href="{{ path('listRecipeTags') }}"><i class="tag icon"></i> Tags</a>
					<a class="item" href="{{ path('searchByIngredients') }}"><i class="search icon"></i>
						Zutatensuche</a>
					<div class="right menu">
						<div class="ui right aligned category search item">
							<div class="ui transparent icon input">
								<input class="prompt" placeholder="Suchen..." type="text" name="search">
								<i class="search link icon"></i>
							</div>
						</div>
						<a class="item" href="{{ path('logout') }}"><i class="times circle outline icon"></i> Logout</a>
					</div>
				</div>
			</form>
		{% endif %}

		{% for message in app.flashes('success') %}
			<div class="ui positive message">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="ui warning message">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="ui negative message">{{ message }}</div>
		{% endfor %}

		{% block content %}{% endblock %}
	</div>


	<style>
		.last.container {
			margin-bottom: 300px !important;
		}

		h1.ui.center.header {
			margin-top: 3em;
		}

		h2.ui.center.header {
			margin: 4em 0em 2em;
		}

		h3.ui.center.header {
			margin-top: 2em;
			padding: 2em 0em;
		}

		body {
			padding: 1em;
		}

		.rec-images img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 200px;
		}

		.rec-images .column .icon {
			position: absolute;
			top: 20px;
			right: 15px;
			font-size: 20px;
			color: #006f0b;
			text-shadow: 0 0 5px white;
			display: none;
		}

		.rec-images .column:hover .icon, .rec-images .column.active .icon {
			display: block;
		}

		.rec-images-container {
			max-height: 70vh;
			overflow-y: scroll;
		}

		.ui.cards > .card > .image img {
			object-fit: cover;
			width: 100%;
			height: 200px;
		}
	</style>

{% endblock %}

