{% extends 'base.html.twig' %}


{% form_theme form _self %}

{% block string_widget %}
	<div class="text_widget">
		{% set type = type|default('number') %}
		{{ block('form_widget_simple') }}
	</div>
{% endblock %}

{% block form_widget_simple %}
	{% set type = type|default('text') %}
	<input
			type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}

{% block form_errors %}
	{% if(errors|length) %}
		<div class="ui error message">
			<div class="header">Fehler</div>
			{% for error in errors %}
				<p>{{ error.message }}</p>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}


{% block _form_ingredients_entry_widget %}
	<div class="ui icon input">
		{{ form_widget(form.label) }}
		<i class="link times red icon remove-row"></i>
	</div>
{% endblock %}

{% block content %}

	<h1 class="ui center aligned header">Profil bearbeiten</h1>

	<div class="ui segment">

		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="ui form error">
			<div class="field">
				{{ form_label(form.username) }}
				{{ form_errors(form.username) }}
				{{ form_widget(form.username) }}
			</div>
			<div class="field">
				{{ form_label(form.email) }}
				{{ form_errors(form.email) }}
				{{ form_widget(form.email) }}
			</div>
			<button class="ui button" type="submit">Speichern</button>
		</div>

		{{ form_end(form, {'render_rest': false}) }}
	</div>

{% endblock %}
