{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block string_widget %}
	<div class="text_widget">
		{% set type = type|default('number') %}
		{{ block('form_widget_simple') }}
	</div>
{% endblock %}

{% block form_widget_simple %}
	{% set type = type|default('text') %}
	<input
			type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}

{% block form_errors %}
	{% if(errors|length) %}
		<div class="ui error message">
			<div class="header">Fehler</div>
			{% for error in errors %}
				<p>{{ error.message }}</p>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}


{% block ingredient_row %}
	<div class="ingredient removable">
	<div class="ui left labeled icon input">
		<div class="ui basic label">
			<i class="ui bars icon"></i>
		</div>
		{{ form_widget(form.label) }}
		<i class="link times red icon remove-row"></i>
	</div>
	</div>
{% endblock %}

{% block ingredient_group_row %}
	<div class="ingredientgroup removable">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock %}

{% block _form_ingredientGroups_entry_label_widget %}
	<div class="ui left labeled icon input groupLabelInput">
		<div class="ui basic label">
			<i class="ui bars icon ingredientGroupDragHandle"></i>
		</div>
		{{ form_widget(form) }}
		<i class="link times red icon remove-row"></i>
	</div>
{% endblock %}

{% block content %}

	<h1 class="ui center aligned header">Rezept anlegen</h1>

	<div class="ui segment">
		{{ form_start(form, {'attr': {'data-fetch-url':  path('parseRecipeUrl') }}) }}
		{{ form_errors(form) }}
		<div class="ui form error">
			<div class="two fields">
				<div class="field">
					<label>URL</label>
					<div class="ui fluid icon input">
						<input placeholder="URL..." type="text" name="{{ form.originUrl.vars.full_name }}"
							   value="{{ form.originUrl.vars.value }}">
						<i class="icon search"></i>
					</div>
				</div>
				<div class="field">
					<label><i class="tags icon"></i> Tags</label>
					<div class="ui fluid right labeled left icon input">
						{{ form_errors(form.tagsString) }}
						{{ form_widget(form.tagsString, {'attr': {'data-tags-json':existingTags|json_encode|raw}}) }}
					</div>
				</div>
			</div>
			<div class="fields">
				<div class="four wide field ingredients">
					{{ form_label(form.ingredientGroups) }}
					{{ form_errors(form.ingredientGroups) }}
					{{ form_widget(form.ingredientGroups) }}
				</div>
				<div class="eight wide field">
					{{ form_label(form.label) }}
					{{ form_errors(form.label) }}
					{{ form_widget(form.label) }}

					{{ form_label(form.effort) }}
					{{ form_errors(form.effort) }}
					<div class="ui right labeled input">
						<input placeholder="Aufwand in Minuten" type="number"
							   name="{{ form.effort.vars.full_name }}"
							   value="{{ form.effort.vars.value }}"
							   min="0"
							   id="form_effort"
							   required>
						<div class="ui basic label"> Minuten</div>
					</div>

					{{ form_label(form.description) }}
					{{ form_errors(form.description) }}
					{{ form_widget(form.description) }}
				</div>
				<div class="six wide field rec-images-container">

					{{ form_label(form.files) }}
					{{ form_errors(form.files) }}
					{{ form_widget(form.files) }}

					<div class="field">
						<div class="gallery ui three column grid">
							<div class="column"><img src="" /></div>
						</div>
					</div>

					<label>Remote Bilder</label>
					<div class="ui three column grid rec-images"></div>
					<br/>
					<label>Vorhandene Bilder</label>
					<div class="ui three column grid rec-images">
						{% for image in recipe.images %}
							<div class="column active">
								{% if image.localFileName %}
									<img src="{{ image(upload_directory~'/'~image.localFileName).cropResize(200,200) }}"/>
								{% else %}
									<img src="{{ image.url }}"/>
								{% endif %}
								<i class="white check circle icon"></i>
								<input type="hidden" name="existingImages[]" value="{{ image.id }}"/>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
			<button class="ui button" type="submit">Speichern</button>

		</div>

		{{ form_end(form, {'render_rest': false}) }}
	</div>

	<link rel="stylesheet" href="{{ asset('css/form.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

	<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>

{% endblock %}
