{# @var recipe \App\Entity\Recipe #}
<div class="ui card">
	<div class="image">
		{% if recipe.searchRating %}
			<a class="ui green right ribbon label">{{ (recipe.searchRating *100) |number_format(0, '.', ',') }} % Übereinstimmung</a>
		{% endif %}

		<a href="{{ path('showRecipe', {'id': recipe.id}) }}">
			{% set image = recipe.images | first %}
			{% if (image) %}
				{% if image.localFileName %}
					<img src="{{ asset(upload_directory~'/'~image.localFileName) }}"/>
				{% else %}
					<img src="{{ image.url }}"/>
				{% endif %}
			{% else %}
				<img src="https://foodtango.com.au/img/ui/noimage.png">
			{% endif %}
		</a>
	</div>
	<div class="content">
		<div class="header">
			<a class="" href="{{ path('showRecipe', {'id': recipe.id}) }}">{{ recipe.label }}</a>
		</div>
		<div class="meta">
			<div class="ui labels">
				{% for tag in recipe.tags %}
					<a class="ui label" href="{{ path('recipeByTag', {'tagLabel': tag.label}) }}">{{ tag.label }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="extra content">
		<span class="right floated"><i class="clock icon"></i>{{ recipe.effort }} min</span>
		<span class="green"><i class="tasks icon"></i>{{ recipe.ingredients|length }} Zutaten</span>
	</div>
</div>
