{# @var recipe \App\Entity\Recipe #}
<div class="ui card" data-recipe-id="{{ recipe.id }}">
	<div class="image">
		{% if recipe.searchRating %}
			<a class="ui green right ribbon label">{{ (recipe.searchRating *100) |number_format(0, '.', ',') }} % Übereinstimmung</a>
		{% endif %}

		<a href="{{ path('showRecipe', {'id': recipe.id}) }}">
{#			{% set image = recipe.images | first %}#}
{#			{% if (image) %}#}
{#				{% if image.localFileName %}#}
{#					<img src="{{ image(upload_directory~'/'~image.localFileName).cropResize(600,600) }}"/>#}
{#				{% else %}#}
{#					<img src="{{ image(image.url).cropResize(600,600) }}"/>#}
{#				{% endif %}#}
{#			{% else %}#}
				<img src="{{ asset('images/noimage.png') }}">
{#			{% endif %}#}
		</a>
	</div>
	<div class="content">
		<div class="header">
			<a class="" href="{{ path('showRecipe', {'id': recipe.id}) }}">{{ recipe.label }}</a>
		</div>
		<div class="meta">
		</div>
	</div>
	<div class="extra content">
			<div class="ui small tag labels">
				{% for tag in recipe.tags %}
					<a class="ui label" href="{{ path('recipeByTag', {'tagLabel': tag.label}) }}">{{ tag.label }}</a>
				{% endfor %}
			</div>
		<span class="right floated"><i class="clock icon"></i>{{ recipe.effort }} min</span>
		<span class="green"><i class="tasks icon"></i>{{ recipe.ingredientsCount }} Zutaten</span>
	</div>
</div>
