{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form_widget_simple %}
	{% set type = type|default('text') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}


{%- block form_row -%}
	<div class="column">
		{{- form_label(form) -}}
		{{- form_errors(form) -}}
		{{- form_widget(form) -}}
	</div>
{%- endblock form_row -%}

{% block content %}

	<h1 class="ui center aligned header">Was hast du im Kühlschrank?</h1>

	<div class="ui segment">
		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="ui form">
			<div class="row">

				{{ form_label(form.ingredients) }}
				{{ form_errors(form.ingredients) }}
			</div>
			{{ form_widget(form.ingredients) }}

			<div class="row">
				<div class="column">

					<a class="add-collection-item ui button" data-list="#{{ form.ingredients.vars.id }}" href="#">
						<i class="plus icon"></i> Weitere Zutat
					</a>
					<button class="ui green right floated button" type="submit"><i class="ui search icon"></i> Suchen
				</div>
				</button>
			</div>
		</div>
		{{ form_end(form, {'render_rest': false}) }}
	</div>

	{% if recipes %}
		<div class="ui segment">
			<div class="ui four doubling stackable cards">
				{% for recipe in recipes %}
					{{ include('recipe.card.html.twig', { 'recipe': recipe }) }}
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<script type="text/javascript">
		$(function () {

			var addIngredient = function () {
				var $list = $(this).closest('form').find('[data-prototype]');
				var counter = $list.data('widget-counter') | $list.children().length;
				if (!counter) {
					counter = $list.children().length;
				}

				var newWidget = $list.attr('data-prototype');
				newWidget = newWidget.replace(/__name__/g, counter);
				counter++;
				$list.data(' widget-counter', counter);

				var tags = $list.attr('data-widget-tags') || '';
				var newElem = $(newWidget);

				newElem.find('input').val();
				newElem.appendTo($list);
			}

			$('.add-collection-item').on('click', addIngredient);
			$('body').on('click', '.remove-row', function (e) {
				e.preventDefault();
				$(this).closest('div').remove();
			});
		});
	</script>
	<style type="text/css">
		.selectize-control {
			width: 100%;
		}
	</style>

{% endblock %}
